/* --------------------------
General Styles 
----------------------------- */
body {
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	color: #333;
}

.content-padding {
	padding-left: 11%;
	padding-right: 11%;
}



/* --------------------------
Hero Image / Title Styles 
----------------------------- */
#background1 {
	height: 100%;
	width: 50px;
	background-color: #444;
	background-image: url('../images/index.jpeg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	position: relative;
}


#top-side{

	height: 60px;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;

}

#top-side #heading{

	position: fixed ;
	top: 0 ;
	left: 400px ;
	color : blue ;

}



#left-side {
    background-color: #212121;

    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 300px;
    color: gray ;
    font-weight: bold ;
}

#left-side #slider1{

	position: fixed ;
	top: 150px;
	left: 10px ;
	width: 300px;

}

#left-side #info{

	position: fixed ;
	top: 180px;
	left: 10px ;
	width: 300px;
	color: gray;
	font-size: 15px ;
}

#left-side #info #insert{

	position: fixed ;
	top: 192px;
	left: 240px ;
	
	color: gray;
	font-size: 15px ;
}


#left-side #button1{

	position: fixed;
	left: 10px ;
	top: 250px ;

}


#left-side #button2{

	position: fixed;
	left: 10px ;
	top: 280px ;
}

#bottom-side{

	position: fixed;
	left: 0 ;
	bottom: 0 ;
	background-color: white;
	width: 100% ;
	height: 50;		


}



}

